body {
  font-family: "Poppins", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.logo-section {
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 160px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/Home\ Budget\ Logo2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-text {
  font-size: 50px;
  position: relative;
  top: 15px;
}

.final-score-section {
  font-size: 30px;
  height: 80px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.income-and-expenses-section {
  height: 400px;
  width: 800px;
  border: solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-width: 2px;
  border-color: black;
}

.add-new-position-section {
  height: 75px;
  width: 396.5px;
  border: solid;
  border-width: 2px;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-position-name-input {
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  font-size: 12px;
  border-radius: 3px;
}
.new-position-amount-input {
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  font-size: 12px;
  border-radius: 3px;
}

.add-new-position-btn {
  border-radius: 3px;
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  font-size: 12px;
}

.names-in-new-position-section {
  font-size: 20px;
  margin-bottom: 7px;
}

.list-of-incomes-and-expenses {
  width: 396.5px;
  height: 318px;
  border: solid;
  border-width: 2px;
  border-color: black;
  overflow-y: scroll;
}

.edition-btn {
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  font-size: 12px;
  border-radius: 3px;
}

.delete-btn {
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  font-size: 12px;
  border-radius: 3px;
}
