body {
  font-family: "Poppins", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.logo-section {
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 160px;
  margin-top: 15px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(assets/Home\ Budget\ Logo2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-text {
  font-size: 50px;
  position: relative;
  top: 25px;
}

.final-score-section {
  font-size: 30px;
  height: 80px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.income-and-expenses-section {
  height: 400px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5%;
}

.add-new-position-section {
  height: 75px;
  width: 395px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .font-and-border-style {
    font-size: 10px;
  }
}

.font-and-border-style {
  font-size: 12px;
  border-radius: 3px;
}

.names-in-new-position-section {
  font-size: 20px;
  margin-bottom: 7px;
}

.list-of-incomes-and-expenses {
  width: 395px;
  height: 318px;
  border-radius: 3px;
}

.edition-btn {
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  font-size: 12px;
  border-radius: 3px;
}

.delete-btn {
  border-style: solid;
  border-color: gray;
  border-width: 2px;
  font-size: 12px;
  border-radius: 3px;
}

.record-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5px 5px;
}
.btns-wrapper {
  display: flex;
  gap: 4px;
}

.list-box {
  height: 290px;
  overflow-y: scroll;
}
.list-sum-span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.border-style {
  border: 2px solid gray;
}

.add-new-position-form {
  display: flex;
  gap: 0.5%;
  justify-content: center;
  align-items: center;
}
